body{
  background-image: url("https://wallpapers-all.com/uploads/posts/2017-04/13_bacon.jpg");
  background-color: #ffb26b;
}
.baconBoy{
  border-radius: 100%;
}
table{
  margin-left: auto;
  margin-right: auto;
}
h1{
  font-family: "Lucida Console";
  font-size: 30px;
  background-color: white;
  text-align: center;
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-bottom: 100%;
    width: 300%;
  }

  to {
    margin-bottom: 0%;
    width: 100%;
  }
}

h3{
  font-family: "Lucida Console";
  background-color: white;
  text-align: center;
}
h4{
  font-family: "Lucida Console";
  background-color: white;
  text-align: center;
}
h5{
  text-align: center;
  background-color: black;
  color: white;
}
p{
  background-color: white;
  font-size: 20px;
  text-align: center;
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
a{
  color: white;
  text-align: center;
  font-family: "Lucida Console";
}
h6{
  color: blue;
  text-align: right;

}
